<div class="main-root">

    <div class="main-head">
        <div class="main-head-block">
            <div class="main-head-logo">
                <i class="fa fa-ravelry" style="font-size:40px; color:white; margin-right: 20px;"></i>
                <div>Управління корпративними ризиками | Delta M</div>
            </div>
            <div class="main-head-account">
                <div class="main-head-user">
                    <i class="fa fa-user" style="font-size:36px; color:white; margin-right: 15px;"></i>
                    <div>{{User.name}}</div>
                </div>
                <i class="fa fa-sign-out" style="font-size:36px; color:white; cursor: pointer;" (click)="OnExit()"></i>
            </div>
        </div>
    </div>

    <div class="main-card">
        <projects></projects>
        <queries style="width: calc(100% - 371px); height: 100%;"></queries>
    </div>

    <div *ngIf="blurTemplate" class="action-background">
        <project-action *ngIf="window.project"></project-action>
        <servicies *ngIf="window.servicies"></servicies>
        <clients *ngIf="window.clients"></clients>


        <i *ngIf="onDataLoad" class="fa fa-spinner fa-pulse" style="color: white; font-size: 100px;"></i>

    </div>

</div>