<div style="width: 100%;" class="table">

    <div class="table-head-block">
        <div class="search-line ">
            <mat-form-field class="block-element" style="width: 350px;">
                <mat-label class="element-name">Пошук по проекту</mat-label>
                <input class="element-input" matInput [(ngModel)]="dataTable.searchValue" (ngModelChange)="dataTable.OnSearchInit.next($event)">
            </mat-form-field>
            <mat-icon class="projects-head-servicies-icon" (click)="getReport()">save_alt</mat-icon>
        </div>

        <div class="table-head">
            <div class="table-head-cell" style="width: 20%;" (click)="dataTable.sort('date')">
                <span>Дата запиту</span>
                <mat-icon style="font-size: 18px;" [inline]="true">{{dataTable.getSortArrowStyle('date')}}</mat-icon>
            </div>
            <div class="table-head-cell" style="width: 20%;" (click)="dataTable.sort('term')">
                <span>Тип</span>
                <mat-icon style="font-size: 18px;" [inline]="true">{{dataTable.getSortArrowStyle('term')}}</mat-icon>
            </div>
            <div class="table-head-cell" style="width: 20%;" (click)="dataTable.sort('client_name')">
                <span>Замовник</span>
                <mat-icon style="font-size: 18px;" [inline]="true">{{dataTable.getSortArrowStyle('client_name')}}</mat-icon>
            </div>
            <div class="table-head-cell" style="width: 20%;" (click)="dataTable.sort('query_id')">
                <span>ЄДРПОУ/ІПН</span>
                <mat-icon style="font-size: 18px;" [inline]="true">{{dataTable.getSortArrowStyle('query_id')}}</mat-icon>
            </div>
            <div class="table-head-cell" style="width: 20%;" (click)="dataTable.sort('status')">
                <span>Статус</span>
                <mat-icon style="font-size: 18px;" [inline]="true">{{dataTable.getSortArrowStyle('status')}}</mat-icon>
            </div>
        </div>
    </div>

    <div class="table-body">
        <div *ngFor="let row of dataTable.data" class="table-row" (click)="action(row); $event.stopPropagation()">
            <div class="row-main">
                <div class="table-row-cell cases-column">
                    <div class="table-row-cell-label">Дата запиту</div>{{dataView(row.date)}}
                </div>
                <div class="table-row-cell cases-column">
                    <div class="table-row-cell-label">Тип</div>{{row.term}}
                </div>
                <div class="table-row-cell cases-column">
                    <div class="table-row-cell-label">Замовник</div>{{row.client_name}}
                </div>
                <div class="table-row-cell cases-column-long">
                    <div class="table-row-cell-label">Назва/Ім'я</div>{{row.query}}
                </div>
                <div class="table-row-cell cases-column">
                    <div class="table-row-cell-label">ЄДРПОУ/ІПН</div>{{row.query_id}}
                </div>
            </div>
            <div class="row-servicies">
                <div class="table-row-cell-label">Послуги</div>
                <div *ngFor="let service of row.servicies" class="label">{{service.service_name + ': ' + service.comment}}</div>
            </div>
            <div class="row-buttons">
                <div class="table-row-cell-label">Статус</div>
                <div class="status-switcher" (click)="statusChange(row); $event.stopPropagation()" [ngStyle]="row.status?{'flex-direction': 'row-reverse', 'background-color':'#1f4386'}:{'flex-direction': 'row', 'background-color':'rgba(255, 255, 255, 0.3)'}">
                    <div class="point"></div>
                </div>
                <mat-icon class="delete-icon" (click)="delete(row); $event.stopPropagation()">delete</mat-icon>

            </div>
        </div>
    </div>

    <div class="table-pages">
        <button mat-button [disabled]='dataTable.pageIndex == 0' (click)="dataTable.prevPage()"><mat-icon >arrow_back_ios</mat-icon></button>
        <button mat-button [ngStyle]="(dataTable.pageIndex == 0) ? {'background-color': '#ebf2f9'} : {'background-color': 'transparent'}" (click)="dataTable.updatePageManual(0)">1</button>
        <button mat-button *ngIf="dataTable.pageIndex > 2 && dataTable.totalPages > 5 " [disabled]="true">...</button>
        <button mat-button *ngFor="let i of dataTable.centreButtons" (click)="dataTable.updatePageManual(i - 1)" [ngStyle]="(dataTable.pageIndex == (i - 1) ) ? {'background-color': '#ebf2f9'} : {'background-color': 'transparent'}">{{i}}</button>
        <button mat-button *ngIf="(dataTable.pageIndex < (dataTable.totalPages - 3)) && dataTable.totalPages > 5 " [disabled]="true">...</button>
        <button mat-button *ngIf="dataTable.totalPages > 1" [ngStyle]="(dataTable.pageIndex == ( dataTable.totalPages - 1 )) ? {'background-color': '#ebf2f9'} : {'background-color': 'transparent'}" (click)="dataTable.updatePageManual(dataTable.totalPages-1)">{{dataTable.totalPages}}</button>
        <button mat-button [disabled]='dataTable.pageIndex == ( dataTable.totalPages > 0 ? (dataTable.totalPages - 1) : (0) )' (click)="dataTable.nextPage()"><mat-icon >arrow_forward_ios</mat-icon></button>
        <button mat-fab class="project-add-button" (click)="action(undefined); $event.stopPropagation()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

</div>