@mixin neo-container-shadows {
    border-radius: 7px;
    background: #ffffff;
    box-shadow: 10px 10px 56px #c4c4c4, -10px -10px 56px #ffffff;
}

@mixin line-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin width-work-space {
    width: 100%;
    max-width: 1366px;
}

@mixin custom-scrollbar {
    scrollbar-color: #1f4386 rgba(0, 0, 0, 0.082);
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px #1f4386;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.082);
        border-radius: 10px;
    }
}

@import '~@angular/material/theming';
$custom-typography: mat-typography-config( $font-family: 'Lora Regular');
@include mat-core($custom-typography);
.main-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ededef;
}

.action-button {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 2px solid #1f4386;
    font-family: ProximaNova;
    font-size: 25px;
    color: #1f4386;
    &:hover {
        border: none;
        background-color: #1f4386;
        color: white;
    }
}

.dissable-button {
    width: 100%;
    height: 40px;
    background-color: #bdbebd;
    font-family: ProximaNova;
    font-size: 15px;
    color: #000000;
}

.block-element {
    width: 100%;
    height: 76px;
}

.element-name {
    width: 100%;
    font-family: ProximaNova;
    font-size: 20px;
    color: #000000;
}

.element-input {
    width: 100%;
    height: 40px !important;
    font-size: 24px !important;
}