<div class="loggin-card">

    <mat-form-field class="block-element">
        <mat-label class="element-name">Логін</mat-label>
        <input class="element-input" matInput [(ngModel)]="loggin">
    </mat-form-field>

    <mat-form-field class="block-element">
        <mat-label class="element-name">Пароль</mat-label>
        <input class="element-input" matInput type="password" [(ngModel)]="password">
    </mat-form-field>

    <div *ngIf="!LogginResult" style="color: red; font-size: 20px;">Невірний логін або пароль!</div>
    <button mat-button class="action-button" (click)="OnLoggin()">Увійти</button>
</div>